

# 1. What are data structures, and why are they important?

- Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently.
They are important because they help in managing large amounts of data, optimize processing time, and improve code clarity.
Examples: Lists, Tuples, Dictionaries, Sets, etc.


# 2. Explain the difference between mutable and immutable data types with examples

- Mutable data types can be changed after creation (e.g., Lists, Dictionaries, Sets).
Immutable data types cannot be changed once created (e.g., Tuples, Strings, Integers).

Examples:
Mutable: my_list = [1, 2, 3]; my_list[0] = 10  # Valid
Immutable: my_tuple = (1, 2, 3); my_tuple[0] = 10  # Error


# 3. What are the main differences between lists and tuples in Python?

- Lists are mutable, tuples are immutable.
- Lists use more memory than tuples.
- Tuples can be used as dictionary keys; lists cannot.
- Tuples are generally faster than lists for iteration.


# 4. Describe how dictionaries store data

- Dictionaries store data as key-value pairs.
Each key must be unique and hashable.
Example: my_dict = {"name": "Alice", "age": 30}


# 5. Why might you use a set instead of a list in Python?

- Sets are used when you need to store unique elements and perform operations like union, intersection, and difference efficiently.
They are faster for membership testing than lists.


# 6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters.
A list is a mutable sequence of elements that can be of different types.
Example:
string = "hello"
list_ = ['h', 'e', 'l', 'l', 'o']


# 7. How do tuples ensure data integrity in Python?

- Tuples are immutable, which means once created, their contents cannot be altered.
This property makes them reliable for storing data that should not change, thus ensuring integrity.


# 8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are implemented as hash tables.


# 9. Can lists contain different data types in Python?

- Yes, lists can contain elements of different data types.
Example: my_list = [1, "two", 3.0, True]


# 10. Explain why strings are immutable in Python

- Strings are immutable to enhance performance and security.
Immutability allows strings to be cached and reused internally, and prevents accidental changes.


# 11. What advantages do dictionaries offer over lists for certain tasks?

- Faster lookup using keys.
- Better for structured data representation.
- More readable when accessing elements by name (e.g., user["name"] instead of user[0]).


# 12. Describe a scenario where using a tuple would be preferable over a list

- When you want to ensure data cannot be changed, such as storing GPS coordinates or constant configurations.
Example: location = (40.7128, -74.0060)


# 13. How do sets handle duplicate values in Python?

- Sets automatically remove duplicate values.
Example: set([1, 2, 2, 3]) results in {1, 2, 3}


# 14. How does the “in” keyword work differently for lists and dictionaries?

- For lists, `in` checks if a value is present in the list.
- For dictionaries, `in` checks if a key is present (not value).
Example:
'a' in ['a', 'b']       → True
'name' in {'name': 'Bob'} → True


# 15. Can you modify the elements of a tuple? Explain why or why not

- No, tuples are immutable.
Once created, their elements cannot be changed or replaced.


# 16. What is a nested dictionary, and give an example of its use case

- A nested dictionary is a dictionary inside another dictionary.
Use case: Representing structured data like a JSON object.
Example:
student = {
    "name": "Alice",
    "grades": {"math": 90, "science": 85}
}


# 17. Describe the time complexity of accessing elements in a dictionary

- Accessing elements in a dictionary has average-case time complexity of O(1) due to hash table implementation.


# 18. In what situations are lists preferred over dictionaries?

- When order matters.
- When you need to store simple sequences of items.
- When keys are not needed, just values.


# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Prior to Python 3.7, dictionaries were unordered.
From Python 3.7 onwards, dictionaries preserve insertion order, but conceptually they are still key-based mappings rather than position-based.
This affects retrieval since access is by key, not index.


# 20. Explain the difference between a list and a dictionary in terms of data retrieval

- Lists retrieve items by index, which is an integer position.
Dictionaries retrieve items by key, which can be any hashable type.

In [1]:
#  Write a code to create a string with your name and print it

string1 = "Girish kumar"
print(string1)

Girish kumar

In [2]:
#  Write a code to find the length of the string "Hello World"
string = "Hello World"
len(string)

11

In [3]:
# write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
string[:3]

'Pyt'

In [4]:
#  Write a code to convert the string "hello" to uppercase
string = "hello"
string.upper()

'HELLO'

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
choice = "I like apple"
choice.replace("apple","orange")

'I like orange'

In [7]:
# Write a code to create a list with numbers 1 to 5 and print it
lis = [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [9]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
lis = [1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [10]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis = [1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [11]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis = ["a","b","c","d"]
lis[1]

'b'

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
lis = [10,20,30,40,50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

In [1]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100,200,300)
tup

(100, 200, 300)

In [2]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ("red", "green","blue","yellow")
tup[1]

'green'

In [4]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ("dog","cat","rabbit")
tup.index("cat")

1

In [8]:
# . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup = ("apple", "jackfruit", "kiwi")
if "kiwi" in tup:
  print("yes it is")
else:
  print("not present")

yes it is

In [10]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1 = {"a", "b","c"}
print(set1)

{'c', 'b', 'a'}

In [12]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1,2,3,4,5}
set1.clear()

In [14]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 = {1,2,3,4}
set1.remove(4)
set1

{1, 2, 3}

In [17]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1 | set2
set3

{1, 2, 3, 4, 5}

In [19]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1 & set2
set3

{3}

In [20]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict1 = {"name":"Girish kumar","age":21, "city":"Bulandshahr"}
dict1

{'name': 'Girish kumar', 'age': 21, 'city': 'Bulandshahr'}

In [3]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {"name":"john", 'age':25}
dict1["country"] ="USA"
dict1

{'name': 'john', 'age': 25, 'country': 'USA'}

In [5]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [9]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")

22

In [10]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict1:
  print("yes it is!")
else:
  print("no its not")

yes it is!

In [14]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list1  = [("a", 1), ("b", 2), ("c", 3)]
list2 = list(list1)
list2

[('a', 1), ('b', 2), ('c', 3)]

In [13]:
tup = tuple(list1)
tup

(('a', 1), ('b', 2), ('c', 3))

In [15]:
dict1 = dict(list1)
dict1

{'a': 1, 'b': 2, 'c': 3}

In [17]:
"""Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)"""

list1 = [23,46,7,84,78,12]
list1.sort()
list1

[7, 12, 23, 46, 78, 84]

In [19]:
# Write a code to create a list with strings and print the element at the third index.
list1 = ["girish","delhi", "rajesh","bulandshahr","keshav","ghaziabad"]
list1[3]

'bulandshahr'

In [24]:
# Write a code to combine two dictionaries into one and print the result.
Detail = {"name":"Girish","age":21,"roll_no":64}
Edu = {"b.tech":"3rd yr", "section":"A","batch":2022-2026}

Detail.update(Edu)
print(Detail)

{'name': 'Girish', 'age': 21, 'roll_no': 64, 'b.tech': '3rd yr', 'section': 'A', 'batch': -4}

In [25]:
# Write a code to convert a list of strings into a set.
list1 = ["Girish","naresh","akhilesh","keshav","mukesh"]
set1 = set(list1)
set1

{'Girish', 'akhilesh', 'keshav', 'mukesh', 'naresh'}